<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds">
    <!--Fix the logback.properties reference-->
    <!--<property file="logback.properties" />-->
    <include resource="logback_appenders.xml" />

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
